@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');

body{
	margin-top: 50px;
	background-image: url(img/servicio_lavado_motor.jpeg);
	font-family: 'Saira Condensed', sans-serif;
	font-size: 1.12em;
}

.bg-nav{
	background-color: rgba(0,0,0,0.6);
}
.bg{
	background-color: rgb(255,255,255)!important;
}

.bg-trans{
	background-color: transparent;
}
.bg-trans-second,
.bg-trans-second> h2,
.bg-trans-second> p{
	background-color: rgba(0,0,0,0.5);
	color: #FFF;

	padding-top: 2rem;
	margin-top: -1rem;
}

.nav-link{
	color: rgb(240,240,240)!important;
}

.details{
	font-weight: bold;
	font-size: 15px;
}
.jumbotron{
	margin-top: 60px!important;
}

.display-3,
.desc{
	color: white!important;
}

.row{
	padding: 5em;
}